<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
<div th:replace="fragments/general.html :: navbarUser"></div>
<br/>
<table class="table table-fit table-bordered">
    <tbody>
    <tr>
        <th class="table-dark">Title</th>
        <th class="table-dark">Episodes watched</th>
        <th class="table-dark">Seasons watched</th>
        <th class="table-dark">State</th>
        <th class="table-dark">Action</th>
    </tr>
    <tr>
        <form th:action="@{/front/users/shows/{id}(id=${show.id})}" th:object="${request}" th:method="post">
            <td style="display:none;"><input type="text" name="showId" th:value="${show.id}"></td>
            <td><p th:text="${show.title}"></p></td>
            <td><input class="form-control" type="text" name="episodesWatched"><div>/<th:block
                    th:text="${show.episodesCount}"></th:block></div></td>
            <td><input type="text" class="form-control" name="seasonsWatched"><div>/<th:block
                    th:text="${show.seasonsCount}"></th:block></div></td>
            <td><select class="form-select" size="3" name="state">
                <option th:each="state: ${states}" th:value="${state}" th:text="${state}"></option>
            </select></td>
            </td>
            <td>
                <button button class="btn btn-outline-success" type="submit">Add</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>