<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>

<body>
<div class="d-flex align-items-center justify-content-center h-auto pt-5">
    <div class="text-center">
        <h1 class="display-1 fw-bold" th:text="${error}"></h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Something went wrong!</p>
        <p class="lead">Details:</p>
        <p class="lead" th:text="${details}"></p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>
</body>

</html>