<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TV Shows demo app</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<table>
    <tbody>
    <tr>
        <th>Название</th>
        <th>Статус</th>
        <th>Жанр</th>
        <th>Дата начала</th>
        <th>Страна</th>
        <th>Дата окончания</th>
        <th>Количество эпизодов</th>
        <th>Количество сезонов</th>
    </tr>
    <tr th:each="show: ${shows}">
        <td th:text="${show.title}"/>
        <td th:text="${show.stage}"/>
        <td th:text="${show.genre}"/>
        <td th:text="${show.startDate}"/>
        <td th:text="${show.country}"/>
        <td th:text="${show.endDate}"/>
        <td th:text="${show.episodesCount}"/>
        <td th:text="${show.seasonsCount}"/>
    </tr>
    </tbody>
</table>
</body>
</html>