<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TV Shows demo app</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/search}" method="get">
    <input type="text" name="searchTitle" th:value="${searchTitle}" placeholder="Find TV Show by name">
    <button type="submit">Search</button>
</form>
<br/>
<table>
    <tbody>
    <tr>
        <th>Title</th>
        <th>Stage</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    <tr th:each="show: ${shows}">
        <td><a th:href="@{/{id}(id=${show.id})}"><span th:text="${show.title}"/></a></td>
        <td th:text="${show.stage}"/>
        <td th:text="${show.genre}"/>
        <td><form th:action="@{/{id}(id=${show.id})}"
                  th:method="delete"><input type="submit" value="Delete"/></form></td>
    </tr>
    </tbody>
</table>
</body>
</html>