<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
<div th:replace="fragments/general.html :: navbarUser"></div>
</br>
<table class="table table-fit table-hover table-bordered">
    <tbody>
    <tr>
        <th class="table-dark">Title</th>
        <th class="table-dark">Stage</th>
        <th class="table-dark">Genre</th>
        <th class="table-dark">Action</th>
    </tr>
    <tr th:each="show: ${shows}">
        <td><a th:href="@{/front/{id}(id=${show.id})}"><span th:text="${show.title}"/></a></td>
        <td th:text="${show.stage}"/>
        <td th:text="${show.genre}"/>
        <td>
            <form th:action="@{/front/users/shows/{id}(id=${show.id})}" method="get">
                <button class="btn btn-outline-success" type="submit">Add</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>