<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
<div th:replace="fragments/general.html :: navbarUser"></div>
<!--<form th:action="@{/front/search}" method="get">-->
<!--    <input type="text" name="searchTitle" th:value="${searchTitle}" placeholder="Find TV Show by name">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->
<br/>
<table class="table table-fit table-hover table-bordered">
    <tbody>
    <tr>
        <th class="table-dark">Show</th>
        <th class="table-dark">Episodes watched</th>
        <th class="table-dark">Seasons watched</th>
        <th class="table-dark">State</th>
        <th class="table-dark">Score</th>
        <th class="table-dark">Action</th>
        <th class="table-dark">Action</th>
    </tr>
    <tr th:each="record: ${records}">
        <td><a th:href="@{/front/{id}(id=${record.showId})}"><span th:text="${record.showTitle}"/></a></td>

        <form th:action="@{/front/users/shows/{id}(id=${record.showId})}" th:object="${request}" th:method="put">
            <td style="display:none;"><input type="text" name="showId" th:value="${record.showId}"></td>
            <td><input type="text" class="form-control" name="episodesWatched" th:value="${record.episodesWatched}">
                <div>/
                    <th:block
                            th:text="${record.episodesCount}"></th:block>
                </div>
            </td>
            <td><input type="text" class="form-control" name="seasonsWatched" th:value="${record.seasonsWatched}">
                <div>/
                    <th:block
                            th:text="${record.seasonsCount}"></th:block>
                </div>
            </td>
            <td><select id="state" class="form-select" size="3" name="state">
                <option th:each="state: ${states}" th:value="${state}" th:text="${state}"
                        th:selected="${record.state==state}"></option>
            </select></td>
            </td>
            <td><select class="form-select" size="3" name="score">
                <option th:each="score: ${scores}" th:value="${score}" th:text="${score}"
                        th:selected="${record.score==score}"></option>
            </select></td>
            <td>
                <button class="btn btn-outline-success" type="submit">Update</button>
            </td>
        </form>
        <td>
            <form th:action="@{/front/myShows/{id}(id=${record.id})}"
                  th:method="delete">
                <button class="btn btn-outline-success" type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>