<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
<div th:replace="fragments/general.html :: navbarAdmin"></div>
<br/>
<table class="table table-fit table-bordered">
    <tbody>
    <tr>
        <th class="table-dark">Title</th>
        <th class="table-dark">Stage</th>
        <th class="table-dark">Genre</th>
        <th class="table-dark">Start date</th>
        <th class="table-dark">Country</th>
        <th class="table-dark">End date</th>
        <th class="table-dark">Episodes count</th>
        <th class="table-dark">Seasons count</th>
        <th class="table-dark">Poster</th>
    </tr>
    <tr>
        <td th:text="${show.title}"/>
        <td th:text="${show.stage}"/>
        <td th:text="${show.genre}"/>
        <td th:text="${show.startDate}"/>
        <td th:text="${show.country}"/>
        <td th:text="${show.endDate}"/>
        <td th:text="${show.episodesCount}"/>
        <td th:text="${show.seasonsCount}"/>
        <td>
            <div id="wrap">
                <img class="fake" th:src="@{'/front/pictures/'+${show.id}}">
                <div id="img_wrap">
                    <img class="normal" th:src="@{'/front/pictures/'+${show.id}}"/>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>