<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/general.html :: headerfiles"></th:block>
</head>
<body>
<div th:replace="fragments/general.html :: navbarAdmin"></div>
<br/>
<table class="table table-fit table-bordered">
    <tbody>
    <tr>
        <th class="table-dark">Title</th>
        <th class="table-dark">Stage</th>
        <th class="table-dark">Genre</th>
        <th class="table-dark">Start date</th>
        <th class="table-dark">Country</th>
        <th class="table-dark">End date</th>
        <th class="table-dark">Episodes count</th>
        <th class="table-dark">Seasons count</th>
        <th class="table-dark">Action</th>
    </tr>
    <tr>
        <form th:action="@{/front/{id}(id=${show.id})}" th:object="${show}" th:method="put">
            <td><input type="text" class="form-control" name="title" th:value="${show.title}"></td>
            <td><select class="form-select" size="3" name="stage">
                <option value="AIRING" selected>Airing</option>
                <option value="FINISHED">Finished</option>
                <option value="CLOSED">Closed</option>
            </select></td>
            <td><select class="form-select" size="3" name="genre">
                <option value="COMEDY" selected>Comedy</option>
                <option value="FANTASY">Fantasy</option>
                <option value="ACTION">Action</option>
                <option value="THRILLER">Thriller</option>
                <option value="SITCOM">Sitcom</option>
                <option value="HORROR">Horror</option>
                <option value="ANIME">Anime</option>
                <option value="CARTOON">Cartoon</option>
            </select></td>
            <td><input type="date" name="startDate" th:value="${show.startDate}"></td>
            <td><input type="text" class="form-control" name="country" th:value="${show.country}"></td>
            <td><input type="date" class="form-control" name="endDate" th:value="${show.endDate}"></td>
            <td><input type="text" class="form-control" name="episodesCount" th:value="${show.episodesCount}"></td>
            <td><input type="text" class="form-control" name="seasonsCount" th:value="${show.seasonsCount}"></td>
            <td>
                <button type="submit" class="btn btn-outline-success">UPDATE</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>
</body>
</html>