<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TV Shows demo app</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<form th:action="@{/search}" method="get">
    <input type="text" name="searchTitle" th:value="${searchTitle}" placeholder="Find TV Show by name">
    <button type="submit">Search</button>
</form>
<br/>
<table>
    <tbody>
    <tr>
        <th>Title</th>
        <th>Stage</th>
        <th>Genre</th>
        <th>Start date</th>
        <th>Country</th>
        <th>End date</th>
        <th>Episodes count</th>
        <th>Seasons count</th>
    </tr>
    <tr th:each="show: ${shows}">
        <td th:text="${show.title}"/>
        <td th:text="${show.stage}"/>
        <td th:text="${show.genre}"/>
        <td th:text="${show.startDate}"/>
        <td th:text="${show.country}"/>
        <td th:text="${show.endDate}"/>
        <td th:text="${show.episodesCount}"/>
        <td th:text="${show.seasonsCount}"/>
    </tr>
    </tbody>
</table>
</body>
</html>